<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Biblioteca</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div class="container">
    <nav class="navbar">
      <a href="/livros">Livros</a>
      <a href="/cadastrar">Cadastrar</a>
    </nav>
  </div>
  <hr>
  {{{body}}}
  <hr>
  <footer>
   <p class="rodape">RODAPÉ</p> 
  </footer>
</body>
</html>